package dto

import "time"

type {{.ModuleName}}Response struct {
	ID        uint      `json:"id"`
	{{- range .Fields}}
	{{.NameGo}} {{.TypeGo}} `json:"{{.NameJson}}"`
	{{- end}}
	CreatedAt time.Time `json:"created_at"`
	UpdatedAt time.Time `json:"updated_at"`
}

type Create{{.ModuleName}}Request struct {
	{{- range .Fields}}
	{{.NameGo}} {{.TypeGo}} `json:"{{.NameJson}}" binding:"{{.Binding}}"`
	{{- end}}
}

type Update{{.ModuleName}}Request struct {
	{{- range .Fields}}
	{{.NameGo}} {{.TypeGo}} `json:"{{.NameJson}}"`
	{{- end}}
}
